.book{
    width: 20%;
    img {
        width: 100px;
    }
}

.brief-description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}