.book-list{
    margin-left: 5%;
    width: 20%;
    float: left;
}
.content{
    width: 50%;
    text-align: center;
    float: left;
}
.movie-list{
    width: 20%;
    float: left;
}

.container{
    margin-top: 40px;
}