<div>
    <div *ngFor="let book of books" class="content">
        <a [title]="book.title + ' details'" [routerLink]="['/books', book.id]" (click)="setCurrentBook(book)">
            <div class="book" *ngIf="book">
                <div class="book-left">
                    <img src={{book.imageLink}}>
                </div>
                <div class="book-right">
                    <h1>{{book.title}}</h1>
                    <h4 *ngIf="book.publishedDate" ><b>Publish Date:</b> {{book.publishedDate}}</h4>
                    <h4 *ngIf="book.authors" ><b>Authors:</b> {{book.authors.join()}}</h4>
                    <h4 *ngIf="book.categories" ><b>Categories:</b> {{book.categories.join()}}</h4>
                    <p *ngIf="book.description" class="description">{{book.description}}</p>
                </div>
            </div>
        </a>
    </div>
</div>