tbody td{
    margin: 15px;
    padding-left:10px;
    padding-right:10px;
}

thead tr{
    font-size: 17px;
}

table {
    background-color: #3498db;
    color: white;
    padding: 10px
}

h1 {
    text-align: center;
}