<form [formGroup]="form" (submit)="signUp()">
    <div class = "content">
        <div>
            <label for="name" class="label">Nombre:</label>
            <input type="text" name="name" formControlName="name" class="input">
        </div>
        <div>
            <label for="last_name" class="label">Apellido:</label>
            <input type="text" name="last_name" formControlName="last_name" class="input">
        </div>
        <div>
            <label for="email" class="label">Email:</label>
            <input type="email" name="email" formControlName="email" class="input">
        </div>
        <div>
            <label for="password" class="label">Contraseña:</label>
            <input type="password" name="password" formControlName="password" class="input">
        </div>
        <div>
            <label for="password_confirm" class="label">Confirmar Contraseña:</label>
            <input type="password" name="password_confirm" formControlName="password_confirm" class="input">
        </div>
        <div>
            <label for="age" class="label">Edad:</label>
            <input type="number" name="age" formControlName="age" class="input">
        </div>
        <div>
            <label for="img" class="label">Imagen:</label>
            <input type="file" name="img" (change)="onFileSelect($event)"  class="input">
        </div>
        <div>
            <button type="submit">Crear Usuario</button>
        </div>
    </div>
</form>